<IfModule mod_rewrite.c>
    #sudo a2enmod rewrite
    RewriteEngine on

    # if reguested url does not exist pass it
    RewriteRule ^$ index.php?/ [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.php?/$1 [QSA,L]
</IfModule>