body{
    padding-top: 50px;
}

.starter-template{
    padding: 40px 15px;
}

form{
    width: 400px;
    max-width: 400px;
}

.alert{
    width: 400px;
    max-width: 400px;
}

.index-news-list{

}
/*.index-news-list :hover p{*/
    /*color: aquamarine;*/
    /*background-color: red;*/
/*}*/

.index-news-list img, i{
    display: none;
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.index-news-list :hover img{
    display: block;
    visibility: visible;
    height: 50px;
    width: auto;
}

.index-news-list :hover i{
    display: inline;
    visibility: visible;
    margin: 20px;
}