<?php
use Classes\Config;
use Classes\Session;
?>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name')?></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <style>
        #image {width: 60px; float:left}
        #text {float:right float:left; width:500px}
    </style>
</head>
<body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right" method="post" action="/news/search/">
                        <div class="form-group">
                            <input type="text" placeholder="search" class="form-control" name="param" id="search_param">
                            <select id="result"></select>

                        </div>
                        <button type="submit" class="btn btn-success" name="search">Search</button>
                    </form>
                    <ul class="nav navbar-nav">
                        <li <?php if (\App::getRouter()->getAction() == 'last_news') { ?> class="active" <?php } ?>><a  href="/news/last_news/">Last news</a></li>
                        <li <?php if (\App::getRouter()->getAction() == 'category') { ?> class="active" <?php } ?>><a  href="/news/category/">Categories</a></li>
                        <li <?php if (\App::getRouter()->getController() == 'contacts') { ?> class="active" <?php } ?>><a  href="/contacts/">Contact Us</a></li>

                        <li <?php if (isset($_SESSION['USER_NAME'])) { ?> class="active" <?php } ?>><a  href="/users/profile"><?=isset($_SESSION['USER_NAME']) ? $_SESSION['USER_NAME'] : null;?></a></li>
                        <li <?php if (\App::getRouter()->getController() == 'auth') { ?> class="active" <?php } ?>><a  href="<?=isset($_SESSION['USER_NAME']) ? '/auth/logout' : '/auth/login';?>"><?=isset($_SESSION['USER_NAME']) ? 'Logout' : 'Login';?></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">

                <?php if (Session::hasFlash()) : ?>
                <div class="alert alert-info" role="alert">
                    <?php Session::flash();?>
                </div>
                <?php endif;?>

            <?=$data['content']?>

<!--            --><?//=\App::getInstance()->getComponent('auth')->getCurrentUser()->name;?>
            </div>

        </div><!-- /.container -->
        <script>
            window.onload = function() {
                var select = $("#result");
                $("#search_param").keyup(function () {
                    $.ajax({
                        url: "http://mymvc.local/ajaxs?value=" + $(this).val(),
                        method: 'get'
                    }).done(function(data) {
                        console.log(data);
                        data = JSON.parse(data);
                        select.html("");
                        for (key in data) {
                            select.append(
                                $('<option value="' + data[key].value + '">' + data[key].value + '</option>')
                            )
                        }
                    });
                });
            }

            <script src="/webroot/js/jquery-3.1.0.min.js"></script>
        </script>

</body>
</html>