<h2><a href="/category">Category List</a> </h2>
<table border="1px">
    <thead>
    <tr>
        <td>Article id</td>
        <td>Article title</td>
        <td>Date</td>
        <!--        <td>Registration Date</td>-->
    </tr>
    </thead>
    <tbody>
    <?php foreach ($data as $article_list) :?>
        <tr>
            <td> <?=$article_list->id; ?></td>
            <td> <?=$article_list->title; ?></td>
            <td> <?=$article_list->date; ?></td>
            <!--            <td> --><?//=$user->date_registration?><!--</td>-->
        </tr>
    <?php endforeach;?>
    </tbody>
</table>