<!--Top commentators-->
<div style="float: right; ">
    <h4>Top five commentators:</h4>
    <ul>
        <?php foreach ($data['top_commentators'] as $commentator):?>
            <li><a href="/admin/comments/commentsList/<?=$commentator->id;?>/"><?=$commentator->name; ?></a>: <?=$commentator->count;?></li>
        <?php endforeach; ?>
    </ul>
</div>


<!--Top commentators-->
<!--Slider-->
<div id="slider" style="height: 140px;">
  <div id="image">
    <img id="img" height="100px" width="100px">
  </div>
  <div id="text" style="margin-left: 150px">
  </div>
</div><br>
<!--Slider-->




<!--Categories List -->
<div style="margin: 10px">
    <ul>

            <?php foreach ($data['categories_list'] as $category) : ?>
        <div style="background-color: lightgrey ; border: solid lightgray 1px; border-radius: 5px; padding: 10px; margin: 10px;">
                <li><a href="/admin/news/category/<?=$category->category_name;?>/"><?=$category->category_name;?></a>
                    <ul>
                        <?php foreach ($category->article_list as $article) :?>
                            <li><?=$article->title;?></li>
                        <?endforeach;?>
                    </ul>
                </li>
        </div>
            <?php endforeach;?>

    </ul>
</div>


<!--Categories List -->

<script>
    var arr= <?= $data['last_news']?>;
    var i=0;
    var pic=document.getElementById('img');
    var text=document.getElementById('text');
    function change(){
      pic.src=arr[i].img;
      text.innerHTML=arr[i].title.slice(0,150)+'...';
      i++
      if (i==arr.length) {
        i=0;}
      setTimeout(change,2000);
    }
    change()
</script>
