<!--Article -->
<a href="/news/category/<?=$data['article'][0]->category;?>/"><?=$data['article'][0]->category;?></a>
<h2><?=$data['article'][0]->title;?></h2>
<h4>Author: <?=$data['article'][0]->author;?></h4><br>
<h4>Date: <?=$data['article'][0]->date;?></h4><br>
<div>
  <p><img src="<?=$data['article'][0]->img;?>" style="float: left; margin-right: 10px;"><?=$data['article'][0]->content;?></p>
</div>
<!--Article -->

<!--Tags-->
<br><h5>tags:</h5>
<p>
  <?php foreach (explode(' ', $data['article'][0]->tags) as $tag) : ?>
    <a href="/news/articles_list/<?=$tag;?>/">#<?=$tag;?></a> ,
  <?php endforeach;?>
</p>
<!--Tags-->

<!--Comments-->


<?php include (ROOT.'Views'.DS.'comments'.DS.'comments_by_page.html');?>


